<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Project created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Project created:</h1>
<p th:text="'Id: ' + ${project.projectId}">
<p th:text="'Project Name: ' + ${project.name}">
<p th:text="'Project start date: ' + ${#dates.format(project.startDate, 'dd-MMM-yyyy')}">
<p th:text="'Manager: ' + ${project.manager != null} ? ${project.manager} : 'Manager not assigned!'"><br>
<p><a href="/project/newProject">Create another Project</a></p>
<p><a href="/project/">Return</a></p>
</body>
</html>