<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Get Item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Enter Project ID</h1>
<form action="#" th:action="@{/projects/getProject}" th:object="${project}" method="post">
    <p>Id: <input type="number" required th:field="*{projectId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/projects">Return</a>
</body>
</html>